<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Test</title>
        {{& assets.css.all }}
        {{& assets.js.all }}
        {{& assets.jst.all }}
    </head>
    <body></body>
</html>