!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title winterless
    link(rel='stylesheet', href='style/b.css')
  body
    div.frame
      h1.a You are a machine
      h2.b These are your choices:
      button.eat Eat
      button.sleep Sleep
      h1= global.chris
